name: Deploy to GCP Storage
 
on:
  push:
    branches:
      - main
 
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: sentinelone-cnapp-01
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
 
      - name: Upload files to GCS
        run: gsutil -m rsync -r ./ gs://s1-test
